.cart-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart-info {
  margin: 20px 0;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #43a047;
}


.card {
  width: 300px;
  background-color: rgb(113, 165, 239);
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 16px;
  transition: 0.3s ease;
  margin: 1rem;
}

.productImage {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 12px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.price {
  font-size: 18px;
  color: black;
  font-weight: 800;
}

.button {
  margin-top: 1em;
  background-color: #0077ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005dc3;
}

.productDetails{
  display: flex;
  margin: 0.5em;
  justify-content: space-between;
  align-items: center;
}
