/* .navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbarContainer a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 20px;
}

.navbarContainer ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbarContainer ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navbarContainer ul li a:hover {
  color: #007bff;
} */
