.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: gray;
  z-index: 100;
}

.error-box{
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    z-index: 200;
    background-color: white;
    padding: 24px;
}