*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    position: sticky;
    top: 0px;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5em;
}
.content{
    display: flex;
}
.content p{
   margin:0px 1em;
   font-size: 18px;
   font-weight: 800;
}
.logo img {
  height: 40px;
  width: 140px;
  border-radius: 50%;  
  object-fit: cover;    
}
