
/* List group */
.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.375rem;
  margin-bottom: 10px;
}

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
  text-decoration: none;
  transition: background-color 0.3s ease;
}


.team-item {
  display: flex;
  align-items: center;
}

.team-logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
}

.team-info h4 {
  margin: 0 0 5px 0;
}

.team-info p {
  margin: 0;
  color: #555;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.active-team{
background-color: #b4ede0;
}


