<nav class="navbar-container">
    <div class="navbar-inner-container">
        <div class="logo-section">
            Expense Tracker
        </div>
        <div class="content-section">
            <ul>
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/add" routerLinkActive="active">Add Expense</a></li>
                <li><a routerLink="/report" routerLinkActive="active">Reports</a></li>
                <li><a routerLink="/edit" routerLinkActive="active">Edit Expense</a></li>
            </ul>
        </div>
    </div>
</nav>